//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————
.cd-ocha-dropdown__heading {
  color: $cd-white;
}

.cd-ocha-dropdown__link {
  a {
    &:focus {
      outline: 3px solid $implementation-highlight;
    }
  }
}

.cd-ocha-dropdown__see-all {
  color: $cd-default-text-color;
  background: $implementation-highlight;
}
