.field--label-inline {
  display: block;
  overflow: hidden; // Hack to prevent inline label float issues.
}

.field + .field {
  margin-top: 1rem;
}

.cd-layout-sidebar-first > .field {
  border-bottom: 1px dotted $cd-grey--dark;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    border-bottom: 0 dotted $cd-grey--dark;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

// Colon after field labels that are displayed above field data.
.cd-layout-main-content,
.cd-layout-sidebar-first {
  .field__label::after {
    content: ':';
  }
}
