.social-sharing {
  margin: 2rem 0 1rem;

  a {
    font-size: 0.75rem;

    &:hover {
      color: #fff;
    }
  }
}

// https://sharingbuttons.io/
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  margin: 0.5em 0.5em 0.5em 0;
  text-decoration: none;
  color: #fff;
}

.resp-sharing-button {
  padding: 0.5em 0.75em;
  transition: 25ms ease-out;
  border-radius: 5px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  border-color: #55acee;
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--facebook {
  border-color: #3b5998;
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--linkedin {
  border-color: #0077b5;
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  border-color: #777;
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  border-color: #2d4373;
  background-color: #2d4373;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  border-color: #2795e9;
  background-color: #2795e9;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  border-color: #5e5e5e;
  background-color: #5e5e5e;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  border-color: #046293;
  background-color: #046293;
}
