.views-field-field-local-groups-label {
  max-width: 7rem;
}

// Set min-width to prevent table from growing and breaking flex layout
.views-field-title,
.views-field-body {
  @include desktop {
    min-width: 6rem;
  }

  @include xlarge {
    min-width: 8rem;
  }
}

.views-field-body > p {
  margin-top: 0;
}
