//——————————————————————————————————————————————————————————————————————————————
// Base styles
//——————————————————————————————————————————————————————————————————————————————

body {
  font-size: $cd-font-size--base;
  font-family: $cd-font;
  color: $cd-grey--dark;
}
