//——————————————————————————————————————————————————————————————————————————————
// Base styles
//——————————————————————————————————————————————————————————————————————————————

body {
  color: $cd-grey--dark;
  font-family: $cd-font;
  font-size: $cd-font-size--base;
}
