{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://assessments.hpc.tools">Assessment Registry</a></li>
    <li class="cd-ocha-dropdown__link"><a href="http://hxlstandard.org">Humanitarian Exchange Language</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://vocabulary.unocha.org">Taxonomy Services</a></li>
  {% endblock %}

{% endembed %}
